a {
  text-decoration: none;
}

.RecipeCard {
  display: grid;
}

.LargeCard {
  @extend .RecipeCard;

  grid-template-columns: 3fr 1fr;
  grid-gap: 5rem;

  .Image {
    height: 50rem;
  }
}

.MediumCard {
  @extend .RecipeCard;

  grid-template-columns: 1fr;
  grid-gap: 3rem;

  .Image {
    height: 30rem;
  }
}

.SmallCard {
  @extend .RecipeCard;

  grid-template-columns: 1fr;
  
  .SmallTitle, .CatDate {
    margin-bottom: 0;
  }
}

.Image {
  display: block;
  width: 100%;
  background: hsl(0%, 0%, 90%);
  cursor: pointer;

  img {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.LargeTitle {
  font-size: 3.2rem;
  font-family: 'Libre Baskerville', serif;
  color: rgba(0, 0, 0, 0.8);
  
  line-height: 5rem;
}

.MediumTitle {
  font-size: 1.8rem;
  font-family: 'Libre Baskerville', serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 3rem;
}

.SmallTitle {
  font-size: 1.4rem;
  font-family: 'Libre Baskerville', serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 3rem;
}

.Description {
  font-size: 1.6rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.Author {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .075rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 50%);
}

.CatDate {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .075rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 50%);
  transition: 75ms;

  a {
    color: hsl(0, 0%, 17%);

    &:hover {
      color: hsl(0, 100%, 68%);
    }
  }
}