@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

body {
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading-1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.heading-2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

.link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: $gray;
  transition: 250ms;

  &:hover {
    color: $black;
    fill: $black;
  }
}

.text-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: $gray;

  transition: 250ms;

  &:hover {
    color: $black;
  }
}

.svg-link {
  svg {
    text-decoration: none;
    fill: $gray;

    transition: 250ms;

    &:hover {
      fill: $black;
    }
  }
}
