$primary-text:      #2B2B2B;
$secondary-text:    #999999;
$border-color:      #D7D7DB;
$accent-color:      #FE3C30;

$black:         #1b1b1b;
$darkgray:      #5e5e5e;
$gray:          #999999;
$lightgray:     #dddddd;
$offwhite:      #fafafa;