.recipe-grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 3rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate-link {
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  border: 0.2rem solid hsl(0%, 0%, 90%);
  padding: 0 2.4rem;
  border-radius: 0.3rem;
  transition: 150ms;
  color: hsl(0%, 0%, 30%);
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &:hover {
    border: 0.2rem solid hsl(0%, 0%, 75%);
  }

  &.left svg {
    margin-right: 1rem;
  }

  &.right svg {
    margin-left: 1rem;
  }
}
