.section {
  margin-bottom: 6.4rem;
}

.section-primary {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.4rem;
  margin: 0;
}

.section-secondary {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.45rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.2rem solid $black;
  margin: 0;
}

.section-header {
  width: 100%;
  display: flex;
  margin-bottom: 3.2rem;
  border-bottom: 0.1rem solid #ebebeb;
}

.latest-recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37.5rem, 1fr));
  grid-gap: 5rem;
}
