.post-header {
  margin-bottom: 6rem;

  .header-title {
    font-size: 4rem;
    font-weight: 500;
  }
}

.post-content {
  padding-left: 6rem;
  margin-bottom: 6rem;

  .post-description {
    font-size: 1.6rem;
    margin-bottom: 6rem;
    line-height: 150%;
    font-style: italics;
  }

  .post-image {
    width: 100%;
    height: 40rem;
    margin-bottom: 6rem;
    border-radius: 0.3rem;
    background: hsl(0%, 0%, 90%);

    & > img {
      margin: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.3rem;
    }
  }
}

.post-instructions {
  margin-bottom: 6rem;
  p {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 150%;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    color: hsl(0%, 0%, 30%);
    margin-bottom: 2rem;
    line-height: 125%;
  }
}

.post-ingredients {
  margin-bottom: 6rem;

  p {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 135%;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    color: hsl(0%, 0%, 30%);
    margin-bottom: 1rem;
    line-height: 125%;
  }
}

.ingredients {
  margin: 0;
}

.ingredient {
  list-style-type: none;
  padding: 2rem 0;
  border-bottom: 0.2rem solid hsl(0%, 0%, 90%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-of-type {
    padding-top: 1rem;
  }

  &:last-of-type {
    border-bottom: none;
  }

  margin: 0;
  font-size: 1.6rem;
  line-height: 135%;

  p {
    margin: 0;
  }
}

.post-description,
.post-image,
.post-ingredients,
.post-instructions {
  position: relative;
}

.section-icon {
  position: absolute;
  top: -0.25rem;
  left: -6rem;
  width: 6rem;
  height: 6rem;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  img {
    width: 3.6rem;
    height: 3.6rem;
  }
}

.footer-tags {
  display: inline-block;
  font-size: 1.4rem;
  color: rgba(0,0,0,.68);
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: hsl(0%, 0%, 90%);

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .post-content {
    padding-left: 0;
  }
}