.Header {
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 0.2rem solid hsla(0%, 0%, 90%, 1);
  margin-bottom: 4rem;

  .Selected {
    color: hsl(0%, 0%, 30%);
  }
  
  a {
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(0%, 0%, 60%);
    text-decoration: none;
    
    transition: 150ms;

    &:hover {
      color: hsl(0%, 0%, 30%);
    }
  }
}

.HeaderLinks {
  display: flex;
  margin: 0;
  list-style-type: none;

  li {
    margin: 0;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}