.Header {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6.4rem;

  // background: hsla(0%, 0%, 90%, 1);
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 1.0875rem;

  margin-bottom: 1.6rem;
}

.HeaderLinks {
  display: flex;

  font-size: 1.4rem;
  font-weight: 500;

  a {
    color: hsla(0%, 0%, 70%, 1);
    transition: 250ms;

    &:hover {
      color: hsla(0%, 0%, 20%, 1);
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
