.Footer {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 6.4rem;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 5rem 1.0875rem 0;
}

.FooterLinks {
  display: flex;

  font-size: 1.4rem;
  font-weight: 500;

  a {
    color: hsla(0%, 0%, 70%, 1);
    transition: 250ms;

    &:hover {
      color: hsla(0%, 0%, 20%, 1);
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
