.Footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 500;
  color: hsl(0%, 0%, 30%);

  margin-bottom: 30px;

  a {
    font-size: 14px;
    font-weight: 500;
    color: hsl(0%, 0%, 60%);

    transition: 150ms;

    &:hover {
      color: hsl(0%, 0%, 30%);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;

    li {
      margin: 0;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}